- hosts: localhost
  vars:
      secret: >-
        {{
            lookup(
                'community.general.tss',
                2,
                base_url="{{ base_url }}",
                username="{{ username }}",
                password="{{ password }}",
            )
        }}
  tasks:
      - name: Install python-tss-sdk
        ansible.builtin.pip:
          name: python-tss-sdk
          state: present

      - name: Retrieve secret from Thycotic Secret Server
        ansible.builtin.debug:
          msg: >
            the password is {{
              (secret['items']
                | items2dict(key_name='slug',
                             value_name='itemValue'))['password']
            }}
