- hosts: localhost
  remote_user: semaphore
  collections:
    - community.general
  vars:
    ansible_python_interpreter: /bin/python3
    secret: "{{ lookup('community.general.tss', 2, base_url=base_url, username=username, password=password) }}"

  tasks:
    - name: Retrieve secret from Thycotic Secret Server
      ansible.builtin.debug:
        msg: >
          the password is {{
            (secret['items']
              | items2dict(key_name='slug',
                           value_name='itemValue'))['password']
          }}
